In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
excel_name = '成本核算数据源配置表.xlsx'
sheet_name = {
    'source': {
        'revenue': '收入',
        'spend':'投放费',
        'timesheet':'项目工时',
        'employee':'人员工资奖金五险一金',
        'cloud':'云服务费',
        'technical':'技术服务费',
        'operation':'运营费用',
        'bjdepartment':'北京天天部门费用',
        'cddepartment':'成都天天部门费用',
    },
    'config': {
        'employee':'人员费用配置表',
        'project':'项目费用配置表'
    }
}

In [4]:
revenue = pd.read_excel(excel_name, sheet_name=sheet_name['source']['revenue'])

In [5]:
revenue

,收入类型,项目收入占比,纸牌-Collection Fish,纸牌-Solitaire 3D Fish,纸牌-Solitaire Dragons,纸牌-Solitaire Fish,纸牌-Spider Fish,纸牌-Tripeaks Fish,纸牌-Solitaire Farm Friends,纸牌-Solitaire Garden,...,智力-Breaker Fun,智力-Breaker Fun 2,智力-Tile Farm,智力-Tile Match,智力-Sort Fun,智力-Tile Travel 3D,智力-Merge Cooking,纸牌-Tripeaks Lucky,智力-Dice Merge,智力-Tile Artist
0,广告,收入,50000.0,40000.0,30000.0,40000.0,50000.0,40000.0,30000.0,40000.0,...,40000.0,50000.0,40000.0,30000.0,40000.0,50000.0,40000.0,30000.0,40000.0,40000
1,NaN,占比,5.0,4.0,3.0,4.0,5.0,4.0,3.0,4.0,...,4.0,5.0,4.0,3.0,4.0,5.0,4.0,3.0,4.0,4
2,内购,收入,60000.0,50000.0,40000.0,30000.0,20000.0,30000.0,40000.0,50000.0,...,50000.0,60000.0,50000.0,40000.0,30000.0,20000.0,30000.0,40000.0,50000.0,40000
3,NaN,占比,6.0,5.0,4.0,3.0,2.0,3.0,4.0,5.0,...,5.0,6.0,5.0,4.0,3.0,2.0,3.0,4.0,5.0,4
4,合计,收入,55000.0,45000.0,35000.0,35000.0,35000.0,35000.0,35000.0,45000.0,...,45000.0,55000.0,45000.0,35000.0,35000.0,35000.0,35000.0,35000.0,45000.0,40000
5,NaN,占比,5.5,4.5,3.5,3.5,3.5,3.5,3.5,4.5,...,4.5,5.5,4.5,3.5,3.5,3.5,3.5,3.5,4.5,4

In [6]:
revenue = revenue.fillna(method='ffill')
revenue_adv = revenue[revenue['收入类型'] == '广告']
revenue_inapp = revenue[revenue['收入类型'] == '内购']
revenue = revenue[revenue['收入类型'] == '合计']
revenue_adv.set_index('项目收入占比',inplace=True)
revenue_inapp.set_index('项目收入占比',inplace=True)
revenue.set_index('项目收入占比',inplace=True)

In [7]:
revenue

,收入类型,纸牌-Collection Fish,纸牌-Solitaire 3D Fish,纸牌-Solitaire Dragons,纸牌-Solitaire Fish,纸牌-Spider Fish,纸牌-Tripeaks Fish,纸牌-Solitaire Farm Friends,纸牌-Solitaire Garden,纸牌-Solitaire Resort,...,智力-Breaker Fun,智力-Breaker Fun 2,智力-Tile Farm,智力-Tile Match,智力-Sort Fun,智力-Tile Travel 3D,智力-Merge Cooking,纸牌-Tripeaks Lucky,智力-Dice Merge,智力-Tile Artist
项目收入占比,,,,,,,,,,,,,,,,,,,,,
收入,合计,55000.0,45000.0,35000.0,35000.0,35000.0,35000.0,35000.0,45000.0,55000.0,...,45000.0,55000.0,45000.0,35000.0,35000.0,35000.0,35000.0,35000.0,45000.0,40000
占比,合计,5.5,4.5,3.5,3.5,3.5,3.5,3.5,4.5,5.5,...,4.5,5.5,4.5,3.5,3.5,3.5,3.5,3.5,4.5,4

In [8]:
revenue.loc['占比']

收入类型                          合计
纸牌-Collection Fish           5.5
纸牌-Solitaire 3D Fish         4.5
纸牌-Solitaire Dragons         3.5
纸牌-Solitaire Fish            3.5
纸牌-Spider Fish               3.5
纸牌-Tripeaks Fish             3.5
纸牌-Solitaire Farm Friends    3.5
纸牌-Solitaire Garden          4.5
纸牌-Solitaire Resort          5.5
纸牌-Solitaire Club            4.5
纸牌-Solitaire Dark Mode       3.5
智力-Block Fish                3.5
智力-Block Farm                3.5
智力-Woody Dice Merge          3.5
智力-Royal Breaker             3.5
智力-Breaker Fun               4.5
智力-Breaker Fun 2             5.5
智力-Tile Farm                 4.5
智力-Tile Match                3.5
智力-Sort Fun                  3.5
智力-Tile Travel 3D            3.5
智力-Merge Cooking             3.5
纸牌-Tripeaks Lucky            3.5
智力-Dice Merge                4.5
智力-Tile Artist                 4
Name: 占比, dtype: object

In [9]:
revenue_percent = revenue.loc['占比'][1:]

In [10]:
revenue_percent

纸牌-Collection Fish           5.5
纸牌-Solitaire 3D Fish         4.5
纸牌-Solitaire Dragons         3.5
纸牌-Solitaire Fish            3.5
纸牌-Spider Fish               3.5
纸牌-Tripeaks Fish             3.5
纸牌-Solitaire Farm Friends    3.5
纸牌-Solitaire Garden          4.5
纸牌-Solitaire Resort          5.5
纸牌-Solitaire Club            4.5
纸牌-Solitaire Dark Mode       3.5
智力-Block Fish                3.5
智力-Block Farm                3.5
智力-Woody Dice Merge          3.5
智力-Royal Breaker             3.5
智力-Breaker Fun               4.5
智力-Breaker Fun 2             5.5
智力-Tile Farm                 4.5
智力-Tile Match                3.5
智力-Sort Fun                  3.5
智力-Tile Travel 3D            3.5
智力-Merge Cooking             3.5
纸牌-Tripeaks Lucky            3.5
智力-Dice Merge                4.5
智力-Tile Artist                 4
Name: 占比, dtype: object

In [11]:
cloud = pd.read_excel(excel_name, sheet_name=sheet_name['source']['cloud'])

In [12]:
cloud

                  费用项    费用
0          北京天天阿里云服务费  1000
1      北京天天Google云服务费  2000
2          成都天天阿里云服务费  2000
3  成都天天Google和AWS云服务费  2000
4          成都某一项目云服务费  1000

In [13]:
cloud.set_index('费用项',inplace=True)

In [14]:
cloud

                      费用
费用项
北京天天阿里云服务费          1000
北京天天Google云服务费      2000
成都天天阿里云服务费          2000
成都天天Google和AWS云服务费  2000
成都某一项目云服务费          1000

In [15]:
project_config = pd.read_excel(excel_name, sheet_name=sheet_name['config']['project'])

In [16]:
project_config

,项目,项目组,直接项目组,主体,云服务费,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,技术服务费,运营费用,Unnamed: 11
0,NaN,NaN,NaN,NaN,北京天天阿里云服务费,北京天天Google云服务费,成都天天阿里云服务费,成都天天Google和AWS云服务费,成都某一项目云服务费,不匹配项目技术服务费,北京天天不匹配项目运营费,成都天天不匹配项目运营费
1,纸牌-Collection Fish,A1,A项目,北京天天,1,1,NaN,NaN,1,1,1,NaN
2,纸牌-Solitaire 3D Fish,A1,NaN,NaN,1,1,NaN,NaN,1,1,1,NaN
3,纸牌-Solitaire Dragons,A1,NaN,NaN,1,1,NaN,NaN,1,1,1,NaN
4,纸牌-Solitaire Fish,A1,NaN,NaN,1,1,NaN,NaN,1,1,1,NaN
5,纸牌-Spider Fish,A1,NaN,NaN,1,1,NaN,NaN,1,1,1,NaN
6,纸牌-Tripeaks Fish,A1,NaN,NaN,1,1,NaN,NaN,1,1,1,NaN
7,纸牌-Solitaire Farm Friends,A2,NaN,NaN,1,1,NaN,NaN,1,1,1,NaN
8,纸牌-Solitaire Garden,A2,NaN,NaN,1,1,NaN,NaN,1,1,1,NaN
9,纸牌-Solitaire Resort,A3,NaN,NaN,1,1,NaN,NaN,1,1,1,NaN
10,纸牌-Solitaire Club,A项目其它,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1,NaN
11,纸牌-Solitaire Dark Mode,A项目其它,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,智力-Block Fish,A项目其它,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,智力-Block Farm,A项目其它,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,智力-Woody Dice Merge,A项目其它,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,智力-Merge Cooking,H1,H项目,北京天天,1,1,NaN,NaN,NaN,1,1,NaN
16,纸牌-Tripeaks Lucky,H2,NaN,NaN,1,1,NaN,NaN,NaN,1,1,NaN
17,智力-Dice Merge,H项目其它,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,智力-Tile Artist,H项目其它,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,智力-Royal Breaker,T1,T项目,成都天天,NaN,NaN,1,1,NaN,NaN,NaN,1
20,智力-Breaker Fun,T2,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,1
21,智力-Breaker Fun 2,T2,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,1
22,智力-Tile Farm,T项目其它,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1
23,智力-Tile Match,T项目其它,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1
24,智力-Sort Fun,T项目其它,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1
25,智力-Tile Travel 3D,T项目其它,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1

In [ ]:
project_config.fillna({})