import numpy as py

In [1]:
import pandas as pd

In [2]:
writer = pd.ExcelWriter('成本核算数据源配置表.xlsx', engine= 'xlsxwriter')

In [3]:
writer

In [4]:
df = pd.read_xlsx('成本核算数据源配置表 copy.xlsx', sheet_name='项目广告收入')

AttributeError: module 'pandas' has no attribute 'read_xlsx'

In [5]:
df

NameError: name 'df' is not defined

In [6]:
df = pd.read_excel('成本核算数据源配置表 copy.xlsx', sheet_name='项目广告收入')

In [7]:
df

      A1
0     A2
1     A3
2  A项目其他
3     T1
4     T2
5  T项目其他
6     H1
7     H2
8  H项目其他

In [8]:
df.T

     0   1      2   3   4      5   6   7      8
A1  A2  A3  A项目其他  T1  T2  T项目其他  H1  H2  H项目其他

In [9]:
df.T.to_excel(writer, sheet_name='项目广告收入1')

In [10]:
writer.save()